#files generted by program
*.generated.txt

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.psess
*.idc
*.vspscc
*.vssscc
*.vsp
*.vsprops
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.log.*
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.vsmdi
*.props
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.DotSettings

#Git
*.orig
#ncrunch
*ncrunch*
*crunch*.local.xml